// _variables.scss

// Color Palette
$primary-color: #28a745;
$secondary-color: #d8dadb;
$bg-color: #f8f9fa;
$text-color: #343a40;
$error-color: #b23b3b;

// Typography
$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 16px;

// Border radius
$default-border-radius: 0.25rem;
