@import "../variables.scss";

.form-container {
  label {
    font-size: 16px;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  .main-form {
    display: flex;
    flex-direction: column;

    gap: 16px;
  }
  .mobile-display {
    display: none;
  }

  .form-description {
    margin-bottom: 16px;
  }

  input[type="text"] {
    font-size: 16px;
    width: 100%;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #ccc;
    outline: none;

    &:focus {
      border: 1px solid $primary-color;
    }
  }

  input[type="url"],
  textarea {
    font-size: 16px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;

    &:focus {
      border: 1px solid $primary-color;
    }
  }

  button {
    margin-top: 16px;
  }

  .DropdownSelect {
    font-size: 16px;
  }
  .dropdowns {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    select {
      width: 100%;
      padding: 5px;
      border-radius: 5px;
      font-size: 16px;

      &:focus {
        border: 1px solid $primary-color;
      }
    }
  }
}

.ingredient-container {
  display: flex;
  margin-bottom: 5px;
  p {
    margin: 0;
    border-radius: 0px 5px 5px 0px;
  }
}

@media screen and (max-width: 850px) {
  .form-container {
    form {
      grid-template-columns: 1fr;
    }
    .desktop-display {
      display: none;
    }
    .mobile-display {
      display: block;
    }
  }
}
